@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@custom-variant hover (&:hover);

@theme{
    --font-primary: "Open Sans", sans-serif;
    --font-secondary: "Montserrat", sans-serif;

    --color-primary: #253C56;
    --color-secondary: #7A7A7A;
    --color-accent: #FBC102;
}

@layer base{  
}

@layer utilities{
    .container{
        @apply mx-auto px-4 lg:max-w-6xl;
    }
}

@layer components{
     .section{
        @apply py-20;
    }
    .section-title{
        @apply text-2xl uppercase font-extrabold font-primary text-primary md:text-3xl lg:text-4xl;
    }

    .section-subtitle{
        @apply block text-base text-primary font-semibold font-primary uppercase mb-7 before:content-[''] before:inline-block before:bg-accent before:w-7 before:h-7 before:me-4 before:translate-y-2;
    }

    .section-description{
        @apply text-sm text-secondary leading-relaxed font-secondary;
    }

    .btn{
        @apply text-sm font-secondary uppercase py-5 px-10 hover:-translate-y-2 transition duration-300;
    }

    .btn-primary{
        @apply text-white bg-[#4B6B90];
    }

    .accordion-item:not(.active) .accordion-content{
        @apply h-0 overflow-hidden py-0;
    }

    .accordion-item.active .accordion-content{
        @apply outline outline-secondary/30;
    }

    .accordion-header{
        @apply p-3 font-bold font-primary cursor-pointer outline outline-secondary/30;
    }

    .accordion-item.active .accordion-header{
        @apply text-white bg-primary;
    }

    .accordion-content{
        @apply text-sm md:text-base font-secondary text-secondary p-5 transition-all duration-350;
    }

    .article-card{
        @apply rounded-3xl overflow-hidden shadow-lg hover:shadow-xl transition-all duration-200;
    }

    .article-body{
        @apply p-7;
    }

    .article-footer{
        @apply border-t border-secondary/10 px-7 py-3;
    }
}

.swiper-button-next, .swiper-button-prev{
    @apply cursor-pointer size-3 text-white;
    top: 60% !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active.swiper-pagination-bullet-active-main{
    background-color: black;
}

.swiper-pagination-bullet{
    @apply size-1;
    transform: scale(1)!important;
}
